{% if request.user.is_authenticated %}

<h1>Вы уже авторизованы!</h1>
<a href="{{ request.user.get_absolute_url }}"><p>Профиль</p></a>
<a href="{% url 'logout' %}"><p>Выйти</p></a>

{% else %}

<div class="form_container">
  <i class="uil uil-times form_close"></i>
  <!-- Login From -->
  <div class="form login_form">
    <form id="authform" method="POST" class="" action="">
      <div class="login_form_box">
        <h2>Авторизация</h2>
        
        {% csrf_token %}
        <div class="input_box">
          <!--<input type="email" placeholder="Введите Ваш Email" class="" required />-->
          <input type="email" name="username" maxlength="254" required id="id_username_auth" placeholder="Введите Ваш Email">
          <i class="uil uil-envelope-alt email"></i>
        </div>
        
        <div class="input_box">
          
          <!--<input type="password" placeholder="Введите Ваш Пароль" required />-->
          <input type="password" name="password" autocomplete="current-password" required id="id_password_auth" placeholder="Введите Ваш Пароль">
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash pw_hide"></i>
        
        </div>

        <div class="option_field">
          <span class="checkbox">
            <input type="checkbox" id="check" />
            <label for="check">Запомнить меня</label>
          </span>
          <a href="#" class="forgot_pw">Забыли пароль?</a>
        </div>

        <button class="button">Войти!</button>

        <div class="login_signup">У Вас нет аккаунта? <a href="#" id="signup">Регистрация</a></div>
      </div>
    </form>
  </div>

  <!-- Signup From -->
  <div class="form signup_form">
    <form id="regform" method="POST" class="" action="">
      <h2>Регистрация</h2>

      {% csrf_token %}
      <div class="input_box">
        <!--<input type="email" placeholder="Введите Вашу почту" required />-->
        <input type="email" name="email" placeholder="Введите Вашу почту" required id="id_email_reg">
        <i class="uil uil-envelope-alt email"></i>
      </div>
      <div class="input_box">
        <!--<input type="email" placeholder="Введите Вашу почту" required />-->
        <input type="text" name="username" maxlength="25" autocapitalize="none" autocomplete="username" required id="id_username_reg" placeholder="Введите Ваш Никнейм">
        <i class="uil uil-envelope-alt email"></i>
      </div>
      <div class="input_box">
        <!--<input type="password" placeholder="Создайте пароль" required />-->
        <input type="password" name="password1" placeholder="Создайте пароль" required id="id_password1_reg">
        <i class="uil uil-lock password"></i>
        <i class="uil uil-eye-slash pw_hide"></i>
      </div>
      <div class="input_box">
        <!--<input type="password" placeholder="Подтвердите пароль" required />-->
        <input type="password" name="password2" placeholder="Подтвердите пароль" required id="id_password2_reg">
        <i class="uil uil-lock password"></i>
        <i class="uil uil-eye-slash pw_hide"></i>
      </div>

      <button class="button">Зарегистрироваться!</button>

      <div class="login_signup">Уже есть аккаунт? <a href="#" id="login">Войдите!</a></div>
    </form>
  </div>
</div>

<!-- 
<h1><b>Регистрация</b></h1>
<form id="regform" method="POST" class="" action="">
   {% csrf_token %}
   {{user_reg_form.as_p}}
   <button type="submit" id="" name="" valie="">Зарегистрироваться</button>
</form>
<br></br>

<h1><b>Авторизация</b></h1>
<form id="authform" method="POST" class="" action="">
   {% csrf_token %}
   
   {{user_log_form.as_p}}
   <button type="submit" id="" name="" valie="">Войти</button>
</form>

<a href="{% url "social:begin" "google-oauth2" %}" class="btn_google">
   <img src="" width='21px' height='21px'>&nbspВойти через Google
 </a>
 <a class='btn_telegram'>
   <script async src="https://telegram.org/js/telegram-widget.js?21" data-userpic="false" data-telegram-login="jespersitebot" data-size="medium" data-auth-url="http://mysite.com/social-auth/complete/telegram" data-request-access="write"></script>
</a>


<br></br>
<h1><b>Сбросить пароль</b></h1>
<form id="resetform" method="POST" class="" action="">
   {% csrf_token %}
   
   {{reset_pass_form.as_p}}
   <button type="submit" id="" name="" valie="">Сбросить</button>
</form> -->

{% endif %}