{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зоркие глазки</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
    <link rel="icon" href="{% static 'mainapp/images/logo.svg' %}" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!--jquery for ajax-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script language="JavaScript" src="{% static 'mainapp/js/main.js' %}"></script>
</head>
<body>
    {% if request.user.is_authenticated %}

    <header>
        <div class="header">
            <div class="logo-container">
                <a href="{% url 'home' %}"><img src="{% static 'mainapp/images/logo.svg' %}"></a>
                <a href="{% url 'home' %}"><h1 class="logo-text">Sharp Eyes</h1></a>    
            </div>
            <nav class="nav-container-auth">
                <div class="nav-link-ifauth nav-link"><a class="hover-effect" href="{% url 'about' %}">О проекте</a></div>
                <!-- <div class="nav-link btn-style"><a href="{% url 'login' %}">Мой прогресс</a></div> -->
                <div class="nav-link-ifauth nav-link"><a class="hover-effect" href="{% url 'progresspage' request.user.userslug %}">Мой прогресс</a></div>
                <div class="nav-link-ifauth nav-link"><a class="hover-effect" href="{% url 'diarypage' %}">Дневник</a></div>
                <div class="nav-link-ifauth nav-svg"><a href="{{ request.user.get_absolute_url }}"><img class="profilesvg" src="{% static 'mainapp/images/profile.svg' %}"></a></div>
                <div class="nav-link-ifauth nav-svg"><a href="{% url 'logout' %}"><img class="exitsvg" src="{% static 'mainapp/images/exit.svg' %}"></a></div>
            </nav>

        </div>
    </header>

    {% else %}
    <header>
        <div class="header">
            <div class="logo-container">
                <a href="{% url 'home' %}"><img src="{% static 'mainapp/images/logo.svg' %}"></a>
                <a href="{% url 'home' %}"><h1 class="logo-text">Sharp Eyes</h1></a>    
            </div>
            <nav class="nav-container">
                <div class="nav-link"><a class="hover-effect" href="{% url 'about' %}">О проекте</a></div>
                <div class="nav-link btn-style"><a href="{% url 'login' %}">Вход</a></div>
                <div class="nav-link"><a class="hover-effect" href="{% url 'register' %}">Регистрация</a></div>
            </nav>

        </div>
    </header>
    {% endif %} 
    {% block content %}
    {% endblock %}
    
    

</body>
</html>