{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}


<div class="page-content">
    <h1 class="project">Проект</h1>
    <h1 class="brand-title">"Зоркие глазки"</h1>

    <h3 class="header3">Постоянно щуришься и перенапрягаешь глаза?</h3>
    <h3 class="header3">Эти простые упражения помогут тебе сохранить зрение!</h3>
    <h3 class="header3">Скорее регистрируйся и сделай первые шаги на пути к здоровому зрению =)</h3>

    <div class="btn-container">
        <div class="start-btn btn-style" onclick="location.href="{% url 'register' %}";" style="cursor: pointer;">
            <a href="{% url 'register' %}">Начать</a>
        </div>
    </div>

    <h3 class="btn-text header3">И обязательно не забудь посетить  врача !</h3>
</div> 

{% endblock %}


