body {
    margin: 0px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* overflow-y: hidden; */
    
}

body a {
    text-decoration: none;
    color: inherit;
}

/* header styling */
header {
    text-align: center;
    padding: 20px 0px 15px 0px;
    color: #4c67ad;
    /* border: solid 5px #000; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    margin-left: 10%;
    display: flex;
    align-items: center;
    /* border: solid 5px #000; */
}

.logo-container img {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 15px;
    background-image: linear-gradient(180deg, #406BDA, rgba(96, 131, 220, 0.46));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10%;
    /* border: solid 5px #000; */
}

.nav-container .nav-link {
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
}

/* background gradient for buttons */
.btn-style {
    background: linear-gradient(180deg, #406BDA, rgba(96, 131, 220, 0.46));
    color: white;
    border: solid 0px;
    border-radius: 40px;
}

/* index page content styling  */
.page-content {
    text-align: start;
    width: 800px;
    margin: 0px auto;
}

.page-content h1 {
    background-image: linear-gradient(180deg, #406BDA, rgba(96, 131, 220, 0.46));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0px;
}

.subhead {
    font-size: 36px;
}

.brand-title {
    font-size: 50px;
}

.page-content .header3 {
    font-weight: 100;
    margin: 40px 0px;
} 

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 86px;
}

.start-btn a {
    font-size: 30px;
    font-weight: bold;
}

.btn-text {
    text-align: center;
}

/* about page content styling */

.center-text {
    text-align: center;
}

.italic-text {
    font-style: italic;
}

.subhead_box {
    display: flex;
}

.subhead_box2 {
    display: flex;
    justify-content: end;
}

.pstyle {
    width: 729px;
}

.p2style {
    line-height: 30px;
}

.left-box {
    display: flex;
    justify-content: end;
}

.subhead_margin {
    margin-top: 10px;
}

h3 {
    font-weight: 100;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    display: block;
    width: 650px;
    height: 300px;
    margin: 40px auto 50px auto;
}

.contact-text {
    padding: 20px 10px 10px 10px;
}

.contact-btn h3 {
    text-align: center;
    font-size: 22px;
}

.name {
    font-weight: bold;
}